<main role="main">
  <section class="about">
    <div class="video-wrapper">
      <div class="video-wrapper">
        <%= video_tag("demo-vid-1.mp4", "demo-vid-2.mp4", "demo-vid-3.mp4", autoplay: true, loop: true, muted: true, playsinline: true, class: 'can-play')%>
      </div>
      <div class="about__statement">
        <p id="test" class="about__statement__1">Paul Salter Consultancy.</p>
        <p class="about__statement__2">Insurance nonsense buzzwords <br> more silly words.</p>
      </div>
  </section>
</main>
