<header class="masthead">
  <div class="container">
    <h1><a href="#">PSC</a></h1>
    <nav>
      <ul>
        <li><a class="  is-active" href="#">About</a></li>
        <li><a class="  " href="#">Contact</a></li>
        <li><a class="  " href="#">Story</a></li>
      </ul>
    </nav>
  </div>
</header>

<main role="main">
<section class="about">
  <div class="video-wrapper">
    <div class="video-wrapper">
      <%= video_tag("demo-vid.mp4", autoplay: true, muted: true, playsinline: true, class: 'can-play')%>
    </div>
  <div class="about__statement">
    <p id="test" class="about__statement__1">Paul Salter Consultancy</p>
    <p class="about__statement__2">Insurance nonsense buzzwords <br> more silly words</p>
  </div>
</section>
</main>
